<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQ9aUAutFNNJ3oTRRopjAbvTkThNL2k10</string>
	<key>GCM_SENDER_ID</key>
	<string>14399025694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farePaymentSystem</string>
	<key>PROJECT_ID</key>
	<string>fare-payment-system</string>
	<key>STORAGE_BUCKET</key>
	<string>fare-payment-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14399025694:ios:3d887f601d6bcd2454b40f</string>
</dict>
</plist>